.page-surface {
    header {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem; 

        h3 {
            margin: 0;
            font-size: 1.5rem;
            flex-grow: 1;
        }

        button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}